# .npmrc 淘宝镜像(npmmirror)完整配置
registry=https://mirrors.cloud.tencent.com/npm/

# 超时设置，解决 ECONNRESET / 套接字超时
network-timeout=300000

# 降低并发，monorepo 多项目防网络爆掉
network-concurrency=8

# mac 优先IPv4，规避ipv6连接重置问题
dns-result-order=ipv4first

# 各scope镜像（完整淘宝镜像，@xxx包走镜像）
@ant-design:registry=https://registry.npmmirror.com
@vitejs:registry=https://registry.npmmirror.com
@vue:registry=https://registry.npmmirror.com
@types:registry=https://registry.npmmirror.com